# name: ansible-role-httpd
# file: templates/etc/apache2/apache2.conf.j2

# THIS FILE IS MANAGED BY ANSIBLE.
# ANY CHANGES MADE HERE WILL BE OVERWRITTEN.

# Global Configuration
ServerRoot "/etc/apache2"
PidFile "/var/run/apache2/apache2.pid"
Timeout {{ apache_timeout }}

# Server-Pool Size Regulation (MPM specific)
<IfModule mpm_prefork_module>
    StartServers               {{ apache_start_servers }}
    MinSpareServers            {{ apache_min_spare_servers }}
    MaxSpareServers            {{ apache_max_spare_servers }}
    MaxRequestWorkers          {{ apache_max_request_workers }}
    MaxConnectionsPerChild     {{ apache_max_connections_per_child }}
</IfModule>

# User and Group
User "{{ apache_user }}"
Group "{{ apache_group }}"

# Error Log
ErrorLog "/var/log/apache2/error.log"
LogLevel {{ apache_log_level }}

# Include Modules
{{ apache_modules | join('\n') }}

# Include Sites
{{ apache_sites | join('\n') }}
